@{
    ViewData["Title"] = "ParentWelcome";
}
<h1>@ViewData["Title"]</h1>

<input type="button" onclick="location.href='@Url.Action("OnlineConsultation", "Services")'" value=" Online Appointment" />
<input type="button" onclick="location.href='@Url.Action("PatientRecord", "Services")'" value=" Patient Record" />
<input type="button" onclick="location.href='@Url.Action("Vaccination", "Services")'" value=" Vaccine Information" />
<input type="button" onclick="location.href='@Url.Action("PartneredPedia", "Services")'" value=" Partnered Pediatricians" />


<p>Welcome page of the parent. </p>

